.ui-icon-loginImage {
	background-image: url("login_icon.png");
}

[data-role=page] {
	height: 100% !important;
	position: relative !important;
	width: 100%;
}

[data-role=footer] {
	bottom: 0;
	position: absolute !important;
	top: auto !important;
	width: 100%;
}
