/***** BEGIN Dark Menu Styles *****/
.clear:after { content: "."; display: block; height: 3%; clear: both; visibility: hidden;width: 3%;}
html[xmlns] .clear { display: block;}
* html .clear { height: 1%;}

nav.dark {border-radius: 3px; display: block!important;}
nav.dark ul {margin: 0px; padding: 0px; }

/* Top level */
nav.dark li {list-style: none; float: left; position: relative;}
nav.dark li.first, nav li.first a {border-top-left-radius: 2px; border-bottom-left-radius: 2px; -moz-border-top-left-radius: 2px; -moz-border-bottom-left-radius: 2px;}
nav.dark li.last, nav li.last a {border-top-right-radius: 2px; border-bottom-right-radius: 2px; -moz-border-top-right-radius: 2px; -moz-border-bottom-right-radius: 2px;}
nav.dark li.drop a {padding-right: 30px;}
nav.dark li a {display: block; padding: 9px 23px 35px; text-decoration: none; background: #5A5D60; font-size: 12px; color: #fff; border-top: 1px solid #5a5d60; border-left: 1px solid #525659; text-shadow: 0px -1px 0px #000;}
nav.dark li a {background-position: 0px 0px;}
nav.dark li a:hover, nav li.active a {background-position: 0px -36px;}
nav.dark li a:active {background-position: 0px -72px;}
nav.dark .dropdown {display: block; float: right; width: 7px; height: 5px; background: url(../images/client/drop-down.png) no-repeat; margin: -20px 15px 0px 12px;}

/* Drop down */
nav.dark li ul {opacity: 0; position: absolute; top: 45px; left: -26px; padding: 12px 15px; border-radius: 3px; -moz-border-radius: 3px; background: #222; display: none; z-index: 100;}
nav.dark li ul li {border-right: 0px; float: none!important; border-bottom: 1px solid #444; width: 125px;}
nav.dark li ul li:last-child { border-bottom: 0px;}
nav.dark li ul li a {background: none!important; border-left: 0px; border-top: 0px; padding: 10px 0px; font-size: 11px}
nav.dark li ul li a:hover {opacity: 0.5;}

nav.dark li ul li.arrow {background: url(../images/client/arrowtop.png) top left no-repeat; border-bottom: 0px; height: 10px; margin-top: -22px; margin-bottom: 10px;}




.clear1:after { content: "."; display: block; height: 3%; clear1: both; visibility: hidden;width: 3%;}
html[xmlns] .clear1 { display: block;}
* html .clear1 { height: 1%;}

nav.dark1 {border-radius: 3px; display: block!important;}
nav.dark1 ul {margin: 0px; padding: 0px;}

/* Top level */
nav.dark1 li {list-style: none; float: left;  position: relative;}
nav.dark1 li.first, nav li.first a {border-top-left-radius: 2px; border-bottom-left-radius: 2px; -moz-border-top-left-radius: 2px; -moz-border-bottom-left-radius: 2px;}
nav.dark1 li.last, nav li.last a {border-top-right-radius: 2px; border-bottom-right-radius: 2px; -moz-border-top-right-radius: 2px; -moz-border-bottom-right-radius: 2px;}
nav.dark1 li.drop a {padding-right: 30px;}
nav.dark1 li a {display: block; padding: 9px 23px 35px; text-decoration: none; background: #5A5D60; font-size: 12px; color: #fff; border-top: 1px solid #5a5d60; border-left: 1px solid #525659; text-shadow: 0px -1px 0px #000;}
nav.dark1 li a {background-position: 0px 0px;}
nav.dark1 li a:hover, nav li.active a {background-position: 0px -36px;}
nav.dark1 li a:active {background-position: 0px -72px;}
nav.dark1 .dropdown {display: block; float: right; width: 7px; height: 5px; background: url(../images/client/drop-down.png) no-repeat; margin: -20px 15px 0px 12px;}

/* Drop down */
nav.dark1 li ul {opacity: 0; position: absolute; top: 45px; left: -26px; padding: 12px 15px; border-radius: 3px; -moz-border-radius: 3px; background: #222; display: none; z-index: 100;}
nav.dark1 li ul li {border-right: 0px; float: none!important; border-bottom: 1px solid #444; width: 125px;}
nav.dark1 li ul li:last-child { border-bottom: 0px;}
nav.dark1 li ul li a {background: none!important; border-left: 0px; border-top: 0px; padding: 10px 0px; font-size: 11px}
nav.dark1 li ul li a:hover {opacity: 0.5;}

nav.dark1 li ul li.arrow {background: url(../images/client/arrowtop.png) top left no-repeat; border-bottom: 0px; height: 10px; margin-top: -22px; margin-bottom: 10px;}

/***** END Dark Menu Styles *****/
