.three {  
       border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px #CCCCCC;
            background-color: #808080;
            background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#909090));
            background: -moz-linear-gradient(top, #606060, #909090);
            color: #dadada;
    }  
    .head
    {
        background-color: White;
            vertical-align:middle;
            padding: 0.6em;
            font-size:0.8em;
    }
    .three td, .three th
    {
     border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    text-align: left;
    }
	.headingTd
	{
	 background-color: #DCE9F9;
    background-image: -moz-linear-gradient(center top , #EBF3FC, #DCE9F9);
    border-top: medium none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}