/*
 * GLOBAL AJAX CSS
 */


/* --- SITEWIDE CSS --- */

body {
  margin: 0;
  font: normal 11pt Verdana, Arial;
}

label {
	font: bold 1em Verdana; 
	display: block;
	margin-top: 1em;
	margin-bottom: 0.45em;
}

fieldset {
	width: 625px;
	border: 0px solid #999;
	padding: 10px;
}

legend {
	padding: 1px 4px;
	border-color: #999 #ccc #ccc #999;
	border-style: solid;
	border-width: 1px;
	background: #eee;
}

label { font-size: 1.2em; }

input [type="text"] {
	background-color: #ffd;
	border-width: 1px;
}


/* --- AUTOCOMPLETE CSS --- */

.autocomplete {
 	position: absolute;
 	color: #333;
	background-color: #fff;
	border: 1px solid #666;
	visibility: hidden;
	font-family: Arial;
	overflow: hidden;
	z-index: 1;  display: block;  
}

.autocomplete ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.autocomplete li {
	display: block;
	white-space: wrap;
	cursor: pointer;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #fff;
}

.autocomplete li.selected {
	background-color: #cef;
	border-top: 1px solid #9bc;
	border-bottom: 1px solid #9bc;
}
.blinkytext {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.2em;
     text-decoration: blink;
     font-style: normal;
 }
 
/* Animated throbber */

input.form-autocomplete {
	background: url('imgages/throbber.gif') no-repeat 100% 2px;
	background-color: #ffffff;
}

input.throbbing {
	background-position: 100% -18px;
	background-color: #ffffff;
}
.labels
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;

}

#nextPage input{
	 background:url(../images/book3.gif);
      border:0;
	  padding:0;
      width: 33px;
      height: 20px;
      align:left;
      color:red;
}
