*:focus {
				outline: none; /* Prevents blue border in Webkit */
			}
			
			body {
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*  */
			}
			
			#top_bit {
				width: 760px;
				margin: 0 auto;
			}
			
			form {
				width: 300px;
			}
			
			p {
				line-height: 1.6;
			}
			
			input,textarea {
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				background-color: #FFFFFF;
				border: 1px solid #ccc;
				font-size: 15px;
				min-height: 20px;
				display: block;
				margin-bottom: 6px;
				margin-top: 2px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
				
			}
			
			textarea {
				min-height: 100px;
			}
			
			input:focus,textarea:focus {
				-webkit-box-shadow: 0 0 25px #ccc;
				-moz-box-shadow: 0 0 25px #ccc;
				box-shadow: 0 0 25px #ccc;
				-webkit-transform: scale(1.05);
				-moz-transform: scale(1.05);
				transform: scale(1.05);
			}
			
			/* The interesting bit */
			input:not (:focus ),textarea:not (:focus ) {
				opacity: 0.5;
			}
			/* 
			input:required,textarea:required {
				background: url("images/asterisk_orange.png") no-repeat 175px 3px;
			}
			
			input:valid,textarea:valid {
				background: url("images/tick.png") no-repeat 220px 5px;
			}
			
			input:focus:invalid,textarea:focus:invalid {
				background: url("images/cancel.png") no-repeat 220px 3px;
			} */
			
			input[type=submit] {
				padding: 5px;
				background: none;
				opacity: 1.0;
			}
			
			/* remove padding and scrolling from elements that contain an Accordion OR a content-div */
			.ui-layout-center, /* has content-div */ .ui-layout-west,
				/* has Accordion */ .ui-layout-east, /* has content-div ... */
				.ui-layout-east .ui-layout-content { /* content-div has Accordion */
				padding: 0;
				overflow: hidden;
			}
			
			.ui-layout-center P.ui-layout-content {
				line-height: 1.4em;
				margin: 0; /* remove top/bottom margins from <P> used as content-div */
			}
			
			h3,h4 { /* Headers & Footer in Center & East panes */
				font-size: 1.1em;
				background: #EEF;
				border: 1px solid #BBB;
				border-width: 0 0 1px;
				padding: 7px 10px;
				margin: 0;
			}
			
			.ui-layout-east h4 { /* Footer in East-pane */
				font-size: 0.9em;
				font-weight: normal;
				border-width: 1px 0 0;
			}
			.ui-menu { width: 180px; }
			#customerTable tr:hover{
			background: #EEF;
			}
			
				.ui-autocomplete {
	    background-color: black;
	    width: 300px;
	    border: 1px solid #cfcfcf;
	    list-style-type: none;
	    padding-left: 0px;
	    color: white;
	}
	.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus {
	    border: 1px solid #C77405;
	    background-color: #FFFFFF;
	    color: #C77405;
	    font-weight: bold;
	    outline: medium none;
	}
	.gmap3{
        margin: 20px auto;
        border: 1px dashed #C0C0C0;
        width: 1024px;
        height: 768px;
      }
      #voucherDetailTb{
      background-color: lightgrey;
      -webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
      }
     #voucherDetailTb tr:hover{
     	background-color: white;
     	border: 1px solid black;
     }
     #voucherDetailTb th,#customerTable th,#historyTable th,#reservationsTbl  th{
			background: #EEF;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			} 