@CHARSET "ISO-8859-1";

body {
    overflow: hidden;
    margin: 0;
}
body {
    overflow: hidden;
    margin: 0;
}
html, body {
  height: 100%;
}
#footerDiv { position:fixed;
    bottom:0; }
 #showNotiMsg a{
	 -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
	} 
.popup{
    position:absolute;
    top:330px;
    left:800px;
    margin:100px auto;
    width:200px;
    height:150px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:rgb(240,240,240);
    border:2px solid grey;
    z-index:100000000000000000;
    }
    
.cancel{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:10px;
    width:34px;
    padding:0 0 5px 0;
    background-color:red;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    border-radius:3px;
    z-index:100000000000000000;
    }

.cancel:hover{
    background:rgb(255,50,50);
    }
img {
    border: none;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px;
}
#driverExpand td{
	white-space: nowrap;
	}
#outer-div {
    width: 100%;
    font-family: Arial;
    clear: both;
    margin: 0 auto 0 auto;
    margin-left: 0px;
    height: 100%;
}
#SuggestionsToAllocate{
	height: 400px;
	max-height: 400px;
	overflow:auto;
	}
	#SuggestionsToAllocate td{
	align :cener;
	}
	
#SuggestionsToAllocate tr:hover{
	background-color:white;
	}
.label {
    color: red;
}

a {
    color: black;
    text-decoration: none;
}

.job-avail-mid1 {
    background: url("../images/Dashboard/list-driver-mid.png") repeat-y;
    width: 345px;
    clear: both;
    margin-left:3px;
}
.job-avail-midShDetails{
	background: url("../images/Dashboard/list-driver-mid.png") repeat-y;
    width: 427px;
    clear: both;
    margin-left:3px;
}
.job-avail-midShared{
    background: url("../images/Dashboard/list-driver-mid.png") repeat-y;
    width: 643px;
    clear: both;
    margin-left:9px;
}

/* #top-header img {
	height: 62px;
	width:242px; 
	padding-right: 3px;
} */
#pri-sec-links {
    width: 1285px;
    height: 69px;
    float: left;
    clear: both;
    background: url("../images/Dashboard/primary-bg.png") repeat-x;
}

#primary-links {
    float: left;
    margin-left: 19px;
    margin-top: 1.5px;
}

#secondary-links {
    float: left;
    clear: right;
    margin: 0 0 0 80px;
}

#secondary-links ul li {
    float: left;
    list-style-type: none;
}

#secondary-links ul li a {
    float: left;
    font-size: 8pt;
    margin: 8px 0 0 30px;
    font-weight: bold;
}

#link1 {
    background: url("../images/Dashboard/sec-link-bg1.png") no-repeat;
    width: 70px;
    height: 31px;
}

#link2 {
    background: url("../images/Dashboard/sec-link-bg2.png") no-repeat;
    width: 70px;
    height: 31px;
}

#link3 {
    background: url("../images/Dashboard/sec-link-bg3.png") no-repeat;
    width: 70px;
    height: 31px;
}

/*
#primary-link-desc {
	clear: both;
	width: 1022px;	
	background: url("./app-images/primary-link-desc-bg.png") repeat-x;
	font-size: 10pt;
	color: #4d4d4d;
}

#primary-link-desc div {
	clear: both;
	margin: 20px 0 0 20px;	
	padding: 15px 0 10px 0;
}
*/
#plain{
	z-index: auto;
    position: absolute;
    top: 65px;
    left: 5px;
	}
#left-block {
    z-index: auto;
    position: absolute;
    top: 65px;
    left: 5px;
    width: 240px;
}

#right-block5 {
    z-index: auto;
    position: absolute;
   top: 65px;
    width: 753px;
    left: 800px; 
    color: black;
}


 #allopts {
    z-index: auto;
    position: absolute;
    top: 65px;
    left: 600px;
    width: 240px;
}
 
.job-avail-mid {
    background: url("../images/Dashboard/jobs-avail-mid.png") repeat-y;
    width: 240px;
    clear: both;
}

.job-inner {
    width: 212px;
    margin: 0 0 0 9px;
    font-size: 9pt;
    color: #3b3c3c;
    padding: 5px 0 5px 10px;
    background-color: #e4e4e4;
    border-bottom: 2px solid #b3b2b2;
}

.job-inner2 {
    width: 327px;
    margin: 0 0 0 9px;
    font-size: 9pt;
    color: #3b3c3c;
    padding: 5px 0 5px 10px;
    background-color: #e4e4e4;
    border-bottom: 2px solid #b3b2b2;
}
.job-innerShared {
    width: 610px;
    margin: 0 0 0 9px;
    font-size: 9pt;
    color: #3b3c3c;
    padding: 5px 0 5px 10px;
    background-color: #e4e4e4;
    border-bottom: 2px solid #b3b2b2;
}
.job-inner6 {
    width: 212px;
    margin: 0 0 0 9px;
    font-size: 9pt;
    color: #3b3c3c;
    padding: 5px 0 5px 10px;
    border-bottom: 2px solid #b3b2b2;
}

.job-inner1 {
    width: 212px;
    margin: 0 0 0 9px;
    font-size: 9pt;
    color: #3b3c3c;
    padding: 5px 0 5px 10px;
    border-bottom: 2px solid #b3b2b2;
}

.job-inner div:FIRST-CHILD {
    margin: 4px 0 0 0;
}

.job-inner div {
    margin: 5px 0 0 0;
}

.driver-txt {
    font-size: 9pt;
    width: 57px;
    height: 19px;
    border: 1px solid #a6c0dd;
}

.time-txt {
    font-size: 9pt;
    width: 41px;
    height: 19px;
    border: 1px solid #a6c0dd;
}

#right-block {
    z-index: auto;
    position: absolute;
   top: 65px;
    width: 240px;
    left: 1000px; 
}

#right-block1 {
    z-index: auto;
    position: absolute;
    top: 65px;
    width: 240px;
    left: 860px;
}

#right-block15 {
    z-index: auto;
    position: absolute;
    top: 65px;
    width: 240px;
    left: 800px;
}

#popUpAddress {
    z-index: auto;
    position: absolute;
    top: 505px;
    left: 584px;
    width: 532px;
}
#popUpDriver {
    z-index: auto;
    position: absolute;
    top: 120px;
    width: 320px;
    left: 50px;
    max-height: 35%;
    min-height: 2%;
    overflow-y:auto;
}

#popUpLandMark {
    z-index: auto;
    position: absolute;
    top: 120px;
    width: 320px;
    left: 50px;
}

#popUpAccount {
    z-index: auto;
    position: absolute;
    top: 100px;
    width: 320px;
    left: 50px;
}

#popUpOR {
    z-index: auto;
    position: absolute;
    top: 3%;
    width: 50%;
    left: 20%;
}

#error {
    z-index: auto;
    position: absolute;
    top: 20%;
    width: 25%;
    left: 74%;
}
#errorForStatus {
    z-index: auto;
    position: absolute;
    bottom: 11%;
    width: 30%;
    left: 1%;
}

#provider {
    z-index: auto;
    position: absolute;
    top: 16%;
    width: 50%;
    left: 74%;
}

.ui-autocomplete {
	border: 1px solid #C77405;
	background-color: #FFFFFF;
	color: #C77405;
	font-weight: bold;
	outline: medium none;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus {
	border: 1px solid #C77405;
	background-color: #FFFFFF;
	color: #C77405;
	font-weight: bold;
	outline: medium none;
}

#hoverEffect {
    z-index: auto;
    position: absolute;
    top: 505px;
    width: 320px;
    left: 95px;
}

#ORHistory {
    z-index: auto;
    position: absolute;
    margin-top: 0%;
    width: 92.5%;
}

#ORSummary {
    z-index: auto;
    position: absolute;
    margin-top: 0%;
    width: 92.5%;
}

.list-driver-mid {
    background: url("../images/Dashboard/list-driver-mid.png") repeat-y;
    width: 240px;
}

.list-driver-tabs {
    background-color: #e8e8e8;
    width: 225px;
    padding: 4px 0 0 0;
    border-bottom: 1px solid #cccccc;
    height: 35px;
}

.list-driver-tabs1 {
    background-color: #e8e8e8;
    width: 230px;
    padding: 4px 0 0 0;
    border-bottom: 1px solid #cccccc;
    height: 15px;
}

.list-driver-tabs a {
    margin: 0 0 0 20px;
}

.list-driver {
    clear: both;
    background: url("../images/Dashboard/logd-list-bg.png") no-repeat;
    width: 202px;
    margin: 8px 0 0 20px;
    padding: 2px 2px 5px 8px;
    border: 0px solid #000000;
    height: 30px;
}

.list-driver td span,.zone-list td span,.zone-list-with-label td span {
    font-size: 5pt;
    color: #333232;
    padding: 0px 0px 0 0;
}

.zone-list {
    clear: both;
    background: url("../images/Dashboard/zoned-list-bg.png") no-repeat;
    width: 202px;
    margin: 8px 0 0 20px;
    padding: 2px 2px 5px 8px;
    border: 0px solid #000000;
    height: 30px;
}

.zone-list-with-label {
    clear: both;
    background: url("../images/Dashboard/zoned-list-bg.png") no-repeat
		center;
    width: 202px;
    margin: 0px 0 0 0px;
    padding: 2px 2px 5px 8px;
    border: 0px solid #000000;
    height: 20px;
}
/* .label{
	clear: both;
	background: url("../images/Dashboard/zoned-list-bg.png") no-repeat center;
	width: 60px;
	margin: 8px 0 0 20px;
	padding: 2px 2px 5px 8px;
	border: 0px solid #000000;
	height: 30px;
}

.zone-label {
	background: url("../images/Dashboard/zoned-name-bg.png") no-repeat;
	width: 79px;
	margin: 8px 0 0 22px;
	padding: 4px 3px 2px 4px;	
	height: 20px;	
}
 */
.zone-label:FIRST-LINE {
    font-size: 4pt;
    color: #39393a;
    letter-spacing: 0.1em;
}

#footer {
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #4d4d4d;
}

#footer p {
    font-size: 10pt;
    margin: 0px 0 0 0;
    padding: 15px 0 15px 0px;
}

.label em {
    background: url(../images/yellow.png) no-repeat center;
    position: absolute;
    text-align: center;
    padding: 10px 12px 10px;
    color: black;
    font-style: normal;
    z-index: 1;
    display: none;
}

.detail em {
    background: url(../images/yellow.png) no-repeat center;
    position: absolute;
    text-align: center;
    padding: 10px 12px 5px;
    color: black;
    font-style: normal;
    z-index: 3;
    display: none;
}

.menu-link-block {
    float: left;
    margin: 3px 1px 0 1px;
}

.menu-link-name {
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 0 0px;
    text-align: center;
}

.time {
    font-size: 10px;
    font-weight: bold;
    color: black;
    margin: 0 0 0 0px;
    text-align: center;
}

.menu-link-icon {
    margin: 1px 0 0 0;
}

.block-top {
    background: url("../images/Dashboard/block-top-bg.png") no-repeat;
    width: 220px;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    padding: 9px 0px 9px 18px;
}

.block-top11 {
    background: url("../images/Dashboard/block-top-bg1.png") no-repeat;
    width: 460px;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    padding: 9px 0px 9px 18px;
}

.block-top1 {
    background: url("../images/Dashboard/block-top-bg.png") no-repeat;
    width: 220px;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    padding: 9px 0px 9px 18px;
}

.zoneDetails1 em1 {
    background: url(../images/yellow.png) no-repeat center;
    position: absolute;
    text-align: center;
    padding: 10px 12px 10px;
    color: black;
    font-style: normal;
    z-index: 13;
    display: none;
}

#sendSms {
    z-index: auto;
    position: absolute;
    top: 120px;
    width: 480px;
    left: 460px;
    background-color: #b0c4de;
	/* border:2px solid; */
    border-radius: 25px;
    -moz-border-radius: 25px;
 /* Firefox 3.6 and earlier */
    box-shadow: 5px 5px 2px #888888;
    white-space: nowrap;
}

#searchButton {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: -18px;
    top: 3px;
    background: url(../images/search.gif) no-repeat center center;
}

img {
    border: 0;
}

#map {
    width: 800px;
    height: 100%;
}

#content {
    position: fixed;
    top: 10px;
    left: 800px;
    margin: 30px;
}

.label {
    color: green;
}

#pbar {
    background-color: #5C5858;
}

#jobHistoryTable1 {
    background-color: #b0c4de;
    overflow: scroll;
}

#jobHistoryTable1 td {
    background-color: lightgrey;
    white-space: nowrap;
}

#logs {
    text-align: center;
}

#jobLogsDiv {
    -moz-border-radius: 5px;
 /* Firefox 3.6 and earlier */
    box-shadow: 5px 5px 2px #888888;
    white-space: nowrap;
}

#jobHistoryDiv {
    -moz-border-radius: 5px;
 /* Firefox 3.6 and earlier */
    box-shadow: 5px 5px 2px #888888;
    white-space: nowrap;
}

.job-inner3 {
    width: 420px;
    margin: 0 0 0 9px;
    font-size: 9pt;
    color: #3b3c3c;
    padding: 5px 0 5px 10px;
    background-color: #e4e4e4;
    border-bottom: 2px solid #b3b2b2;
}

#orderPopUpSub {
    -moz-border-radius: 8px 8px 8px 8px;
    width: 88px;
    margin: 0 0 0 9px;
    font-size: 9pt;
    color: #3b3c3c;
    padding: 5px 0 5px 10px;
    background-color: #e4e4e4;
    border-bottom: 2px solid #b3b2b2;
}

#instructions {
    background-color: grey;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: white;
    display: none;
    min-width: 450px;
    padding: 25px;
}

.button {
    background-color: #2b91af;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.button.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px
}

.block-top55 {
    background: url("../images/Dashboard/block-top-bg.png") no-repeat;
    width: 220px;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    padding: 9px 0px 9px 18px;
}

#colorSelector {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../images/select.png);
}

#colorSelector div {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(../images/select.png) center;
}

#colorSelector2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    background: url(../images/select2.png);
}

#colorSelector2 div {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: url(../images/select2.png) center;
}

#colorpickerHolder2 {
    top: 32px;
    left: 0;
    width: 356px;
    height: 0;
    overflow: hidden;
    position: absolute;
}

#colorpickerHolder2 .colorpicker {
    background-image: url(../images/custom_background.png);
    position: absolute;
    bottom: 0;
    left: 0;
}

#colorpickerHolder2 .colorpicker_hue div {
    background-image: url(../images/custom_indic.gif);
}

#colorpickerHolder2 .colorpicker_hex {
    background-image: url(../images/custom_hex.png);
}

#colorpickerHolder2 .colorpicker_rgb_r {
    background-image: url(../images/custom_rgb_r.png);
}

#colorpickerHolder2 .colorpicker_rgb_g {
    background-image: url(../images/custom_rgb_g.png);
}

#colorpickerHolder2 .colorpicker_rgb_b {
    background-image: url(../images/custom_rgb_b.png);
}

#colorpickerHolder2 .colorpicker_hsb_s {
    background-image: url(../images/custom_hsb_s.png);
    display: none;
}

#colorpickerHolder2 .colorpicker_hsb_h {
    background-image: url(../images/custom_hsb_h.png);
    display: none;
}

#colorpickerHolder2 .colorpicker_hsb_b {
    background-image: url(../images/custom_hsb_b.png);
    display: none;
}

#colorpickerHolder2 .colorpicker_submit {
    background-image: url(../images/custom_submit.png);
}

#colorpickerHolder2 .colorpicker input {
    color: #778398;
}

input[type=submit],a,input[type=button],label,select,.pointer {
    cursor: pointer;
}

input[type=text] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 1px;
}

#fleets input {
    -moz-appearance: tab;
}

#customerTable td:hover {
    background-color: white;
}

.customerRow {
    cursor: pointer;
}

input:focus {
    border-color: green;
}
/* input[type=button]:hover{
	border-color:green;
	} */
#driverDetailDisplay td:hover {
    border-color: green;
}

#callerId input[type=button] {
    -moz-border-radius: 8px 8px 8px;
    border-radius: 8px;
    box-shadow: 3px 3px 1px grey;
}

/* .block-topShared {
    background: url("../images/Dashboard/block-top-bgShare.png") no-repeat;
    width: 660px;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    padding: 9px 0px 9px 18px;
    cursor: move;
} */

.block-topShDetails {
    background: url("../images/Dashboard/block-top-bgShDetails.png") no-repeat;
    width: 480px;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    padding: 9px 0px 9px 18px;
    cursor: move;
}
/* Button1 */

.appleButtons{
-moz-border-radius:50px;
-webkit-border-radius:50px;
border-radius:50px;

-moz-box-shadow:0 1px 0 rgba(0,0,0,0.3);
-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.3); 
box-shadow:0 1px 0 rgba(0,0,0,0.3);

background: -moz-linear-gradient(19% 75% 90deg, #E0E0E0, #FAFAFA);

background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E0E0E0));

color:#4A4A4A;
float:left;
font-family:arial,helvetica,sans-serif;
font-size:12px;
font-weight:bold;
padding:5px 5px;
text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);
}

.appleButtons:hover{
background: -moz-linear-gradient(19% 75% 90deg,#D6D6D6, #FAFAFA);
background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#D6D6D6));
}
#zonesForOperator tr:hover {
    background-color: white;
}
.pac-container{
	border: 1px solid #C77405;
	background-color: #FFFFFF;
	color: #C77405;
	font-weight: bold;
	outline: medium none;
	z-index:3000 !important;
	width: 500px !important;
}
// ************************* For Tab on Driver details
	h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	margin:0;
	line-height:1.1em;
	color:#000;
	}	

h1{font-size:2em;margin-bottom:.5em;}	
h2{font-size:1.75em;margin-bottom:.5142em;padding-top:.2em;}	
h3{font-size:1.5em;margin-bottom:.7em;padding-top:.3em;}
h4{font-size:1.25em;margin-bottom:.6em;}
h5,h6{font-size:1em;margin-bottom:.5em;font-weight:bold;}

a, a:visited{
	text-decoration:none;
	color:#000000;
	}
a:hover{color:#999;}

header, nav, article, section, footer, address {display:block;}
	
header{
	height:5px;
	overflow:hidden;
	background:#e1e1e1;
	background:-webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#e1e1e1));
	background:-moz-linear-gradient(top,  #d1d1d1,  #e1e1e1);
	padding:0 5px;
	}

header h1{
	line-height:32px;
	font-size:14px;
	text-shadow:#fff 0 1px 0;
	text-align:center;
	}

nav{
	height:28px;
	overflow:hidden;
	}
nav ul{
	margin:0;
	padding:0 1px;
	width:225px;
	height:28px;
	/* -moz-box-shadow:inset 0 2px 2px #999;
	-webkit-box-shadow:inset 0 2px 2px #999;
	box-shadow:inset 0 2px 2px #999; */
	background:#bbb;
	}
nav li{
	list-style:none;
	float:left;
	height:24px;
	line-height:24px;
	-moz-box-shadow:0 0 3px #888;
	-webkit-box-shadow:0 0 3px #888;
	box-shadow:0 0 3px #888;
	-webkit-border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	margin:0 2px;
	width:70px;
	overflow:hidden;
	position:relative;
	background:#ccc;
	background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
	background:-moz-linear-gradient(top,  #ccc,  #aaa);
	}
nav li a, nav li a:visited, nav li a:hover{
	list-style:none;
	display:block;
	position:absolute;
	top:0;
	left:-2px;
	height:24px;
	line-height:24px;
	width:74px;	
	text-align:center;
	color:#333;	
	font-size:11px;
	text-shadow:#e8e8e8 0 1px 0;
	-moz-box-shadow:inset 0 1px 1px #888;
	-webkit-box-shadow:inset 0 1px 1px #888;
	box-shadow:inset 0 1px 1px #888;
	}	
nav li.selected{
	background:#e1e1e1;
	background:-webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#d1d1d1));
	background:-moz-linear-gradient(top,  #e1e1e1,  #d1d1d1);
	}
nav li.selected a{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;	
	}	
nav li a:focus{outline:none;}

/* style your sections here */
section{
	padding:2px;
	height:1px;
	background-color: #ceecf5;
	width:749px;
	}
	

	