 body {
	margin: 10px auto;
	width: 1370px;
	font: 65%/110% Arial, Helvetica, sans-serif;
}  
.menu {
	margin: 80px 0 0;
	padding: 0;
	list-style: none;
}
.menu li {
	padding: 0;
	margin: 0 1px;
	float: left;
	position: relative;
	text-align: center;
}

.menu a {
	padding: 14px 10px;
	display: block;
	color: #000000;
	width: 124px;
	height: 15px;
	text-decoration: none;
	background: url(../images/button.gif) no-repeat center center;
}
.menu li em {
	background: url(../images/hover.png) no-repeat;
	width: 180px;
	height: 45px;
	position: absolute;
	top: -405px;
	left: -15px;
	text-align: center;
	padding: 20px 12px 10px;
	font-style: normal;
	z-index: 1;
	display: none;
}
        body{
            background:#fff url(desc.png) no-repeat 50px 100px;
            font-family:Arial;
            height:2000px;
        }
        .scroll{
            width:133px;
            height:61px;
            position:fixed;
            bottom:15px;
            left:150px;
            background:#fff url(scroll.png) no-repeat top left;
        }
        
 ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 150px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#navigation li {
    width: 100px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 70px;    
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
ul#navigation li em {
	font-weight: normal;
	background: url(../images/hower1.png) no-repeat;
	width: 180px;
	height: 45px;
	position: absolute;
	left: 15px;
	text-align: center;
	padding: 20px 12px 10px;
	font-style: normal;
	z-index: 2;
	display: none;
}
.zone em{
 background: url(../images/hower8.png) no-repeat center;
	position: relative;
	text-align: center;
	padding: 10px 12px 10px;
	font-style: normal;
	z-index: 1;
	display: none;
}
ul#navigation li a input{
border:0;
padding:0;
margin-left: -2px;
    width: 100px;
    height: 70px;  
color: inherit;
background:transparent;
}
ul#navigation .Waiting a{
    background-image: url(../images/zoneWaiting.png);
}
ul#navigation .OpenRequest a      {
    background-image: url(../images/openRequestQueue.jpg);
}
ul#navigation .BroadCast a      {
    background-image: url(../images/broadcast.jpg);
}
ul#navigation .AllRequest a      {
    background-image: url(../images/openRequest.png);
}
.zone em{
 background: url(../images/hower8.png) no-repeat center;
	position: relative;
	text-align: center;
	padding: 10px 12px 10px;
	font-style: normal;
	z-index: 1;
	display: none;
}
 