.labels {
   color: red;
   background-color: white;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 200px;     
   border: 2px solid black;
   white-space: nowrap;
 }
 .changeColor {
background-color: lightgreen !important;
border-radius: 3px 20px 20px 3px;
border: 1px solid white !important;
}
 
 
	/* remove padding and scrolling from elements that contain an Accordion OR a content-div */
	.ui-layout-center ,	/* has content-div */
	.ui-layout-west ,	/* has Accordion */
	.ui-layout-east ,	/* has content-div ... */
	.ui-layout-east .ui-layout-content { /* content-div has Accordion */
		padding: 0;
		overflow: hidden;
	}
	.ui-layout-center P.ui-layout-content {
		line-height:	1.4em;
		margin:			0; /* remove top/bottom margins from <P> used as content-div */
	}
	h3, h4 { /* Headers & Footer in Center & East panes */
		font-size:		1.1em;
		background:		#EEF;
		border:			1px solid #BBB;
		border-width:	0 0 1px;
		padding:		7px 10px;
		margin:			0;
	}
	.ui-layout-east h4 { /* Footer in East-pane */
		font-size:		0.9em;
		font-weight:	normal;
		border-width:	1px 0 0;
	}
	#available, #unavailable,#noFeed {
    -moz-border-radius: 4px 4px 4px;
	border-radius: 4px;
	box-shadow:3px 3px 1px grey;
    color: #222222;
    cursor: pointer;
    float: left;
    margin-bottom: 2px;
    margin-right: 4px;
    opacity: 0.9;
    padding: 3px;
}
   #available {
    background-color: #66FF66;
}

#unavailable {
    background-color: #FF8888;
    color: #444444;
}
#noFeed {
    background-color: #ebda1e;
    color: #444444;
}
a:hover{
color: red;
}
.doNotShow{
	display:none;
}
#sharedSummary th {
	background-color: gray;
	font-weight: bold;
	text-align: center;
} 	