#leftheader{
	color:#A9A17C;
}
#pagebox {
	background-color: #DCEAFB;
	padding: 1px;
}

#bodypage {
	background-color:#FDEEF4;
	color: #000066;
	border:1px solid #c3daf9;
	
}

#title {
	border: 1px;
	border-style: solid;
	width: 300px;
	color: navy;
}

#errorpage {
	color: red;
}
 

