
h {
	font: sans-serif;
	font-size: 36px;
	color: #006633;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 10px;
	text-shadow: #6374AB 3px -1px 1px;
} 
.openjobs  em {
	font-weight: normal;
	background: url(../images/yellow.png) no-repeat center center;
	position: absolute;
	left: 15px;
	text-align: center;
	padding: 20px 12px 10px;
	font-style: normal;
	font-color:green;
	z-index: 2;
	display: none;
}
.menu {
	list-style: none;
} 
.menu li {
	padding: 0;
	margin: 0 1px;
	float: left;
	position: relative;
	text-align: center;
}
.menu a {
	padding: 14px 10px;
	display: block;
	color: #000000;
	width: 124px;
	height: 15px;
	text-decoration: none;
	background: url(../images/button.gif) no-repeat center center;
}
.menu li em {
	background: url(../images/hover.png) no-repeat;
	width: 180px;
	height: 45px;
	position: absolute;
	top: -405px;
	left: -15px;
	text-align: center;
	padding: 20px 12px 10px;
	font-style: normal;
	z-index: 1;
	display: none;
} 
#openjobs {
	height: 300px;
	display: none;
}
.btn-slide{
	padding: 14px 10px;
	color: #000000;
	width: 144px;
	height: 15px;
	text-decoration: none;
	display:block;
	text-align:center;
	background: url(../images/button.gif) no-repeat center center;
	}
.Tabbutton{
	padding: 14px 10px;
	color: #000000;
	width: 144px;
	height: 15px;
	text-decoration: none;
	display:block;
	text-align:center;
	background: url(../images/button.gif) no-repeat center center;
	}
.btn-slide1 {
	padding: 14px 10px;
	color: #000000;
	width: 144px;
	height: 15px;
	display:block;
	text-align:center;
	text-decoration: none;
	background: url(../images/button.gif) no-repeat center center;
	}
.btn-slide2 {
	padding: 14px 10px;
	color: #000000;
	width: 144px;
	height: 15px;
	display:block;
	text-align:center;
	text-decoration: none;
	background: url(../images/button.gif) no-repeat center center;
	}