.cAlert{
				position: absolute;
				top: 10px;
				left: 10px;
				width: 540px;
				height: auto;
				background-color: lightgreen;
				border-left: 1px #8a8a8a solid;
				border-top: 1px #8a8a8a solid;
				border-right: 1px #a6a6a6 solid;
				border-bottom: 1px #a6a6a6 solid;
			}
			
			.cAlertHeader{
				margin: 0;
				padding: 3px;
				border-bottom: 1px #8a8a8a solid;
				background-color: #333333;
				color: #fff;
				font-weight: bold;
			}
			
			.cAlertContent{
				background-color: #f9f9f9;
				margin-top: 25px;
				margin-bottom: 5px;
				margin-left: 10px;
				margin-right: 10px;
				padding: 10px;
				border-left: 1px #bcbcbc solid;
				border-top: 1px #bcbcbc solid;
				border-right: 1px #fff solid;
				border-bottom: 1px #fff solid;
			}