html { border:none;}
* { margin:0; padding:0; outline:none;}
.clrBth { clear:both; font-size:0; line-height:0; height:0;}
.wid50 { width:50px;}
.wid60 { width:60px;}
.wid70 { width:70px;}
.wid85 { width:85px;}
.wid100 { width:100px;}
.wid110 { width:110px;}
.wid130 { width:130px;}
.marAuto { margin:0 auto;}
.padT10 { padding-top:10px;}
.padR5 { padding-right:5px;}
.padB3 { padding-bottom:3px!important;}
.fltLft { float:left;}
.fltRht { float:right;}


.inputBXWrap { padding:0 1px; border-left:1px solid #c2c2c2; border-top:1px solid #858585; border-right:1px solid #c1c1c1; border-bottom:1px solid #e2e2e2; background:#fff;}
.inputBX{ border:none; background:none; width:100%; padding:4px 0;font-size:11px; }
.inputBx{ border:none; background:none; width:100%; padding:5px 0;font-size:11px; }
.errorDV { border:1px solid #FF0000; color:#FF0000;}
.errorDV .inputBX{ color:#FF0000;}

.wrapper1 { width:1001px; margin:0 auto; border-left:1px solid #313131; border-right:1px solid #313131;}
.wrapper2 {border-left:1px solid #2c2c2c; border-right:1px solid #2c2c2c;}
.wrapper3 { border-left:1px solid #262626; border-right:1px solid #262626;  background:#fff;}

.headerDV { background:#4bc5df url(../css/headerBG.jpg) no-repeat center bottom; height:190px;}
.headerDVInner { width:893px; margin:0 auto;}
.logoLft { float:left; margin:17px 0 0 0;}
.logoLft a { width:242px; height:80px; background:url(../css/logo.jpg) no-repeat 0 0; display:block;}
.headerRhtDV { margin-left:250px;}
.headerRhtDVInner { float:left; width:100%;}
.headerRhtDV .loginName {padding:10px 0 40px 0;}
.headerRhtDV .loginNameDV { font-size:12px; color:#fff; }
.headerRhtDV .loginNameDV span { color:#3b585e;}

.headerRhtDV .rhtCol { float:right; width:220px;}
.headerRhtDV .lftCol { margin-right:250px;}
.topNav { float: right; width:100%; padding:2px 0 0 0;}
.topNav li{ float:right; font-size:12px; border-right:1px solid #335f69; list-style:none; padding:0 15px; }
.topNav li.last { border-right:none}
.topNav li a { color:#335f69; text-decoration:none;}

.searchDV {}
.searchDV span{ color:#fff; font-size:12px; float:left; display:block; padding:2px 5px 0 0;}
.searchDV .inputBXLC { background:url(../css/searchInputCur.jpg) no-repeat left top; float:left;padding-left:9px; }
.searchDV .inputBXRC { background:url(../css/searchInputCur.jpg) no-repeat right bottom; padding-right:9px;float:left;}
.searchDV .inputBX { border-top:1px solid #0b8ca8; border-bottom:1px solid #0b8ca8; border-left:none; border-right:none; background:#edf9fc; float:left; font-size:11px; height:15px; padding:2px 0 0 0; width:110px;  }
.searchDV .searchBtn { width:22px; height:18px; background:url(../css/searchbtn.jpg) no-repeat 0 0; border:none; float:left; margin-left:5px; cursor:pointer;}

.mainNav { repeat-x 0 0; margin:32px 0 0 0; margin:0 auto;padding-top:53px; width:80%;}
.mainNavL { background:url(../css/navCur.jpg) no-repeat left top; float:left; width:100%;}
.mainNavR { background:url(../css/navCur.jpg) no-repeat right bottom;float:left; width:100%;}

.mainNav1 {background:url(../css/navBG.jpg) repeat-x 0 0; margin:32px 0 0 0; float:left; width:100%;}
.mainNav1L { background:url(../css/navCur.jpg) no-repeat left top; float:left; width:100%;}
.mainNav1R { background:url(../css/navCur.jpg) no-repeat right bottom;float:left; width:100%;}

.contentDV { background:#fff;}
.contentDVInWrap { margin:0 auto; width:893px;}
.contentDVIn { padding:45px 20px; }
.leftCol { float:left; width:300px; }
.leftCol .vertMenu { border:1px solid #f0f0f0;width:165px;float:left; }
.leftCol .vertMenu li{ list-style:none; margin:0; background:url(../css/vertMenuBG.jpg) repeat-y 0 0; float:left; width:100%;} 
.leftCol .vertMenu li a{  font-size:12px; float:left; color:#504732;  margin:0; border-bottom:1px solid #d9d9d9; text-decoration:none; padding:5px 12px; width:141px; }
.leftCol .vertMenu li a:hover, .leftCol .vertMenu li a.active { background:#ebbb4d;}
.leftCol .vertMenu li a.last  { border-bottom:none;}
.leftCol h1 { color:#4bc5df; font-size:18px; padding:0 0 17px 0;}
.leftCol p {color:#2a2a2a; font-size:12px; }
.leftCol .innerPage { padding:17px 20px 0 40px;}

.rightCol { margin-left:310px;}
.rightColIn { float:left; width:100%;}
.rightColIn1 {float:left;width:50%;}
.rightCol h1 { font-size:16px; color:#363636; padding:5px 0; text-align:center; background:#fcd374 url(../css/h1BG.jpg) repeat-x 0 0; }
.rightCol .driverChargTab { font-size:12px; color:#1b1b1b;}
.rightCol .driverChargTab th { background:#aae1ec;padding:5px 0;border-left:1px solid #fff;}
.rightCol .driverChargTab th.firstCol { border-left:none;}
.rightCol .driverChargTab td { padding:5px 0; background:#eaeaea; border-left:1px solid #fff; border-top:1px solid #fff; text-align:center}
.rightCol .driverChargTab td.firstCol {background:#aae1ec; text-align:center; border-left:none;}
.rightCol .driverChargTab td .inputDV { width:53px; border-left:1px solid #c2c2c2; border-top:1px solid #858585; border-right:1px solid #c1c1c1; border-bottom:1px solid #e2e2e2;  padding:4px 0;font-size:11px;}
.rightCol .driverChargTab td select {font-size:11px;}
.rightCol .driverChargTab tr.active td.firstCol {background:#aae1ec; text-align:center; border-left:none;}
.rightCol .driverChargTab tr.active  td{ background:#dbdbdb;}

.btnBlue { }
.btnBlue .lft {background:url(../css/blueBtnLft.jpg) no-repeat left 0; padding:4px 7px 5px; text-align:center; border:none; overflow:visible; color:#fff; font-size:12px; cursor:pointer}
.btnBlue .rht { background:url(../css/blueBtnRht.jpg) no-repeat right 0; float:left;}

.btnBlueNew { }
.btnBlueNew .lft {background:url(../css/blueBtnNewLft.jpg) no-repeat left 0; padding:4px 7px 5px; text-align:center; border:none; overflow:visible; color:#fff; font-size:12px;cursor:pointer}
.btnBlueNew .rht { background:url(../css/blueBtnNewRht.jpg) no-repeat right 0; float:left;}

.btnBlueNew1 { }
.btnBlueNew1 .lft {background:url(../css/blueBtnNew1Lft.jpg) no-repeat left 0; padding:0 7px; text-align:center; border:none; overflow:visible; color:#fff; font-size:12px; cursor:pointer; height:22px;}
.btnBlueNew1 .rht { background:url(../css/blueBtnNew1Rht.jpg) no-repeat right 0; float:left;}


.dashboardDV { background:#fff; padding:10px 10px;}
.dashboardTable {border-left:1px solid #fed67c; }
.dashboardTable td{ border-right:1px solid #fed67c; vertical-align:top; }
.dashboardTable td.firstCol {border-bottom:1px solid #fed67c; border-top:1px solid #fed67c; width:22%}
.dashboardTable td.secondCol { width:1%; font-size:0;}
.dashboardTable td.thirdCol {border-bottom:1px solid #fed67c; border-top:1px solid #fed67c; width:52%}
.dashboardTable td.fourthCol {width:1%; font-size:0;}
.dashboardTable td.fifthCol {border-bottom:1px solid #fed67c; border-top:1px solid #fed67c; width:24%}
.dashboardTable td .topBX { background:#fed67c; padding:10px 10px;}
.dashboardTable td .topBX h1 { font-size:16px; color:#363636; border-bottom:1px solid #9a8659; padding:0 0 5px 0; width:100%}
.dashboardTable td .btnlist {float:left; width:100%; padding:10px 0 0 0;}
.dashboardTable td .btnlist li { float:left;  list-style:none; width:75px;}
.dashboardTable td .btnlist li input.lft { width:70px;}
.dashboardTable td .btnlistver { float:right; padding:45px 0 0 0;}
.dashboardTable td .btnlistver li {list-style:none; width:115px; padding-bottom:5px; float:right;}
.dashboardTable td .btnlistver li input.lft { width:115px;}
.dashboardTable td .btnlistRes {float:left; width:100%; padding:10px 0 0 0;}
.dashboardTable td .btnlistRes li { float:left;  list-style:none; width:71px;}
.dashboardTable td .dragBx { background:#aca899; font-size:12px; color:#fff; padding:5px 11px;}

.dashboardDataTable { margin-bottom:10px}
.dashboardDataTable th{ font-size:10px; font-weight:normal; border-right:1px solid #5b5a54; background:#00a3ba;padding:3px 0;}
.dashboardDataTable td{ font-size:10px; border-right:1px solid #fff; padding:3px 0;}
.dashboardDataTable td.filter { border-bottom:1px solid #5b5a54; border-top:1px solid #5b5a54; border-right:none; text-align:center; color:#c4c1b7; padding:3px 0;}
.dashboardDataTable td.filter a {color:#c4c1b7; text-decoration:none;}
.dashboardDataTable th.last, .dashboardDataTable td.last { border-right:none;}
.dashboardDataTable tr.odd { background:#a5e2ef;}
.dashboardDataTable tr.even { background:#feeabd;}

.dashboardResDataTable { margin-bottom:5px}
.dashboardResDataTable th{ font-size:10px; font-weight:normal; border-right:1px solid #5b5a54; background:#00a3ba;padding:3px 1px;}
.dashboardResDataTable td{ font-size:10px; border-right:1px solid #dedede; border-bottom:1px solid #dedede; padding:3px 1px;color:#938f7f;}
.dashboardResDataTable td.filter { border-bottom:1px solid #5b5a54; border-top:1px solid #5b5a54; border-right:none; text-align:center; color:#c4c1b7; padding:3px 0;}
.dashboardResDataTable td.filter a {color:#c4c1b7; text-decoration:none;}
.dashboardResDataTable td.right { text-align:right; }
.dashboardResDataTable th.last, .dashboardResDataTable td.last { border-right:none;}

.messageR { float:right; width:115px;}
.messageL { margin-right:125px;}
.messageLIn { float:left; width:100%;}
.messagetable { margin:10px 0 0 0; border-bottom:1px solid #4bc5df; border-left:1px solid #4bc5df; border-right:1px solid #4bc5df}
.messagetable th{ font-size:12px; color:#fff; background:#4bc5df; border-right:1px solid #fff; padding:3px 3px;}
.messagetable th.lastCol, .messagetable td.lastCol { border-right:none;}
.messagetable td{border-right:1px solid #fff; background: #fff;}

.btnZoneWaiting { background:url(../css/btnZoneWaiting.jpg) no-repeat 0 0; width:66px; height:34px; border:none;}
.btnDriverDuty {background:url(../css/btnDriverDuty.jpg) no-repeat 0 0; width:66px; height:34px; border:none;}
.btnDetails {background:url(../css/btnDetails.jpg) no-repeat 0 0; width:66px; height:34px; border:none;}

.footerDV { background:#c0c0c0; font-size:11px; color:#fff; padding:5px 0 5px 52px;}
.footerDV1 { background:#c0c0c0; font-size:11px; color:#fff; padding:5px 0 5px 75px;}
/* */
.grayBX {}
.grayBX .topLCur{ background:url(../css/grayBXCur.jpg) no-repeat left 0; font-size:0; padding:0 0 0 10px;}
.grayBX .topRCur{ background:url(../css/grayBXCur.jpg) no-repeat right -12px; font-size:0; padding:0 10px 0 0; height:12px;}
.grayBX .topMCur{ border-top:1px solid #fcfcfc; font-size:0;}
.grayBX .topMCur1{ border-top:1px solid #e4e4e4; font-size:0;}

.grayBX .mid { border-left:1px solid #fcfcfc; border-right:1px solid #fcfcfc;}
.grayBX .mid1 { border-left:1px solid #f6f6f6; border-right:1px solid #f6f6f6;}
.grayBX .mid2 { border-left:1px solid #ededed; border-right:1px solid #ededed;}
.grayBX .mid3 { border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; padding:0 6px; background:url(../css/grayBXContBG.jpg) repeat-x left bottom;}

.grayBX .btmLCur{ background:url(../css/grayBXCur.jpg) no-repeat left -24px; font-size:0; padding:0 0 0 10px;}
.grayBX .btmRCur{ background:url(../css/grayBXCur.jpg) no-repeat right -36px; font-size:0; padding:0 10px 0 0; height:12px;}
.grayBX .btmMCur{ border-bottom:1px solid #fcfcfc; font-size:0;}
.grayBX .btmMCur1{ border-bottom:1px solid #f6f6f6; font-size:0;}
.grayBX .btmMCur2{ border-bottom:1px solid #eeeeee; font-size:0;}
.grayBX .btmMCur3{ border-bottom:1px solid #e2e2e2; font-size:0;}
.grayBX .btmMCur4{ border-bottom:1px solid #d5d4d4; font-size:0;}
.grayBX .btmMCur5{ border-bottom:1px solid #e4e4e4; font-size:0; height:6px; background:#f2f1f0;}

.grayBX h2 { font-size:18px; color:#fdd374; padding:0 18px;}
.grayBX h3 { font-size:13px; color:#ffffff; background:#fcd271; padding:3px 20px; }
.formDV { padding:5px 20px;}
.formDV .fieldDv{ padding:25px 20px;}
.formDV fieldset { border:none; padding:0 0 4px 0;}
.formDV fieldset1 { border:none; padding:0 0 4px 0;}
.formDV label1 { display:block; float:left; font-size:12px; color:#25aac6; padding:5px 0 0 0; width:90px;}
.formDV .div2 { margin:0 200px 0 90px;}
.formDV .div2In { float:left; width:100%;}
.formDV .div2 select { width:40%; font-size:12px;}
.formDV .div3 { float:right;width:190px;}
.formDV .div4 { margin:0 0 0 90px;}
.formDV .div4In { float:left; width:100%;}
.formDV .div5 { margin:0 200px 0 90px;}
.formDV .div5In { float:left; width:100%;}
.formDV .div5 select { width:90%; font-size:12px;}
.formDV .btnBlue .rht{ float:left;}
.formDV .btnBlue .lft{ padding-left:15px; padding-right:15px;}

.loginBX { width:350px; margin: 0 auto;}
.forgetPass { text-align:right; font-size:11px; padding-top:5px;}
.forgetPass a { color:#454432; text-decoration:none;}
.forgetPass a:hover { text-decoration:underline;}