
#pagebox {
	background-color: #660000;
	padding: 1px;
}

#bodypage {
	background-color: #FFFAF0;
	color: #483D8B;
}

#title {
	border: 1px;
	border-style: solid;
	width: 300px;
	color: #483D8B;
}

#errorpage {
	color: red;
}