.header
{
	height:5%;
	width:98%;
	align:center;
	background-color:#096276;
	color:#ffffff;	
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container
{
	height:90%;
	background-color:#D1E0F4;
	width:98%;
	border:1px;
}
.leftContent
{
	height:100%;
	width:50%;
	background-color:#D1E0F4;
	float:left;
	align:center;
	coloe:#000000;
	font-size:14px;
	font-family:Arial;
	overflow:auto;
}
.rightContent
{
	height:100%;
	width:50%;
	background-color:#D1E0F4;	
	float:right;
	align:center;
	coloe:#000000;
	font-size:14px;
	font-family:Arial;
	overflow:auto;
}
.footer
{
	height:5%;
	width:98%;
	align:center;
	background-color:#096276;
	color:#ffffff;
	float:left;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}