<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= data.page.title || "Bootstrap Admin" %></title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/theme.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">

    <script src="lib/jquery-1.8.1.min.js" type="text/javascript"></script>

    <!-- Demo page code -->
    
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body> 
  <!--<![endif]-->
    <%unless data.page.show_header == false%>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav pull-right">
                    <%unless data.page.show_user == false%>
                    <li id="fat-menu" class="dropdown">
                        <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> Jack Smith
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">Settings</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
                        </ul>
                    </li>
                    <%end%>
                </ul>
                <a class="brand" href="index.html"><span class="first">Your</span> <span class="second">Company</span></a>
            </div>
        </div>
    </div>
    <%end%>

    <div class="container-fluid">
        <%unless data.page.show_menu == false %>
        <div class="row-fluid">
            <div class="span3">
                <div class="sidebar-nav">
                  <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu"><i class="icon-dashboard"></i>Dashboard</div>
                    <ul id="dashboard-menu" class="nav nav-list collapse in">
                        <li><a href="index.html">Home</a></li>
                        <%=menu_item('Users', 'Sample List')%>
                        <%=menu_item('User', 'Sample Item')%>
                        <%=menu_item('Gallery')%>
                        <%=menu_item('Calendar')%>
                        <%=menu_item('Faq')%>
                        <%=menu_item('Help')%>
                        <%#=menu_item('Contact Us')%>
                    </ul>
                <div class="nav-header" data-toggle="collapse" data-target="#accounts-menu"><i class="icon-briefcase"></i>Account<span class="label label-info">+10</span></div>
                <ul id="accounts-menu" class="nav nav-list collapse in">
                  <%=menu_item('Sign In')%>
                  <%=menu_item('Sign Up')%>
                  <%=menu_item('Reset Password')%>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#settings-menu"><i class="icon-exclamation-sign"></i>Error Pages</div>
                <ul id="settings-menu" class="nav nav-list collapse in">
                  <%=menu_item('403', '403 page')%>
                  <%=menu_item('404', '404 page')%>
                  <%=menu_item('500', '500 page')%>
                  <%=menu_item('503', '503 page')%>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#legal-menu"><i class="icon-legal"></i>Legal</div>
                <ul id="legal-menu" class="nav nav-list collapse in">
                  <%=menu_item('Privacy Policy')%>
                  <%=menu_item('Terms and Conditions')%>
                </ul>
            </div>
        </div>
        <div class="span9">
            <%= yield %>
        </div>
    </div>
    <%else%>
        <%= yield %>
    <%end%>

    <%unless data.page.show_footer == false %>
    <footer>
        <hr>
        <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
        <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
        
        
        <p>&copy; 2012 <a href="http://www.portnine.com">Portnine</a></p>
    </footer>
    <%end%>

    <%#</div>%>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <%#<script src="bootstrap/js/bootstrap-transition.js"></script>%>
    <%#<script src="bootstrap/js/bootstrap-alert.js"></script>%>
    <%#<script src="bootstrap/js/bootstrap-modal.js"></script>%>
    <%#<script src="bootstrap/js/bootstrap-dropdown.js"></script>%>
    <%#<script src="bootstrap/js/bootstrap-scrollspy.js"></script>%>
    <%#<script src="bootstrap/js/bootstrap-tab.js"></script>%>
    <%#<script src="bootstrap/js/bootstrap-tooltip.js"></script>%>
    <%#<script src="bootstrap/js/bootstrap-popover.js"></script>%>
    <%#<script src="bootstrap/js/bootstrap-button.js"></script>%>
    <%#<script src="bootstrap/js/bootstrap-collapse.js"></script>%>
    <%#<script src="bootstrap/js/bootstrap-carousel.js"></script>%>
    <%#<script src="bootstrap/js/bootstrap-typeahead.js"></script>%>

  </body>
</html>


